// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button {
	color: white;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 3px;
	padding: 0 0.6rem;
	line-height: 1.8;
	font-size: 1rem;
	background-color: lighten($theme-color, 10%);
	box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2) ;
}